.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1040px;
  }

  @media (min-width: 1366px) {
    max-width: 1092px;
  }

  @media (min-width: 1440px) {
    max-width: 1140px;
  }

  // The main container is maxed at 1140px. (Fixed-width)

  // @media (min-width: 1600px) {
  //   max-width: 1280px;
  // }

  // @media (min-width: 1920px) {
  //   max-width: 1536px;
  // }

  // @media (min-width: 3840px) {
  //   max-width: 3072px;
  // }
}
